# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
application/node_modules
application/.pnp
application/.pnp.js

# testing
application/coverage

# next.js
application/.next/
application/out/

# production
application/build

# misc
application/.DS_Store
application/*.pem

# debug
application/npm-debug.log*
application/yarn-debug.log*
application/yarn-error.log*
application/.pnpm-debug.log*

# env files
# 環境構築時に下記のコメントアウトを外す
# application/.env*

# vercel
application/.vercel

# typescript
application/*.tsbuildinfo
# next-env.d.ts

# github
.github/CODEOWNERS

#ローカル設定ファイル	
.vscode/settings.json	
